<!DOCTYPE html>
<html>
    <head>
        <style>
        hcenter {
          text-align: center;
        }

        body {
            background-color: rgb(46, 46, 46);
            color: rgb(231, 230, 230);
            font-size: 30px;
        }

        </style>
    </head>

    <body>
    
    <hcenter>
        <h1>
            Rick & Morty Locations
        </h1>
    </hcenter>

    {% for location in locations %}
        {{location['name']}} | {{location['type']}}<br>
        {% for resident in location['residents'] %}
            <img src="{{resident}}" alt="{{resident}}"><br>
        {% endfor %}
        <br>
    {% endfor %}

    </body>
</html>